@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{      ViewData["Title"] = "IS 413 is the Best";
}


<h1>James Peterson</h1>
<br /><br /><br />
<img src="WhatIlove.png.jpg" />
<br /><br /><br />
<p>
    I would love to learn from this class what I need to do to be able to be a better candidate for jobs. I would like to understand
    how to program in ASP.net so that I am desired in my career. I would like to become good friends with Professor Hilton, I would like to
    learn what it is that he does to make everyone happy with him. It would also be nice to get a good grade in the end, but as long as I
    learn the material, that is honestly the most important part.
</p><br />

<H2>Top 3 jobs I am interested in pursuing for a career:</H2><br />
<ol>
    <li>Data Analyst</li>
    <li>Developer</li>
    <li>Information Security guy</li>
</ol>

<h3>Grade Calculator:</h3>
<p>Please insert the percentage you received in each category in the following format, 95% as 95 23% as 23 etc.</p> <br />


